/*
* Нестандартный шрифт, нужен для заголовка.
* Экспортируем из .otf (был в комплекте задачи)
*/
@font-face {
  font-family: 'Exo2.0-Thin';
  src: url('fonts/Exo2.0-Thin.eot');
  src: url('fonts/Exo2.0-Thin.woff') format('woff'),
  url('fonts/Exo2.0-Thin.ttf') format('truetype'),
  url('fonts/Exo2.0-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
* Базовый размер шрифта для items в единицах vw
* (с таким размером выведется самый маленький текст "40 порций и 2 мыши в подарок"
* на экране с 1-м столбцом),
* через медиазапросы установим размер шрифта для .col в единицах vw в зависимости
* от числа столбцов, а для всех "детей" будем использовать em относительно .col
*/
$base_font_size: 3;

/*
* Минимальные ширины различных экранов
*/
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

/*
* Количество столбцов для экранов с разной шириной (1, 2, 3, 4, 6, 12 штук в строке).
* В задании на больших экранах три упаковки в ряду, поэтому col_lg_number: 3
*/
$col_xl_number: 4;
$col_lg_number: 3;
$col_md_number: 2;
$col_sm_number: 1;
$col_xs_number: 1;
/*
* Хотя наверное лучше так:
* col_(ох_ничего_себе_у_Вас_экра)_number: 12;    :)
$col_xl_number: 6;
$col_lg_number: 4;
$col_md_number: 3;
$col_sm_number: 2;
$col_xs_number: 1;
*/

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (min-width: $xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $sm) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $md) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lg) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $xl) { @content; }
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/*
* ==========================================================================
* Контейнер и сетка
*/

/* ширина основного контейнера */
$container_width: 95%;

/*
* Background и верхний/нижний градиенты
*/
.content_container {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background: url("images/main_background.png") #000 repeat;
  position: relative;
  &:before,  &:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    content: '';
  }
  &:before {
    top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
  }
  &:after {
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
  }
}

.content {
  min-height: 100vh;
  /* fix для firefox */
  height: 1px;
  /* fix'ы для градиентов фона*/
  position: relative;
  z-index: 1;
  /* шарина контейнера и горизонтально центрирование */
  width: $container_width;
  margin: 0 auto;

  /*
  * Вертикальное центрирование
  * Хоть ie 11 и "понимает" display: flex;
  * но height: auto не дает ему центрировать блок,
  * поэтому долько из-за него используем для вертикального центрирования table и table-cell
  *
  * display: flex;
  * align-Items: center;
  * justify-content: center;
  */
  display: table;

  .container {
    display: table-cell;
    vertical-align: middle;

    /* горизонтальный блочный элемент */
    .row {
      width: 100%;
      @include clearfix;

      /* столбец на всю щирину (для заголовка) */
      .col-full {
        width: 100%;
        box-sizing: border-box;
      }

      /* столбцы в сетке (см. $col_..._number) */
      .col {
        float: left;
        box-sizing: border-box;

        /*
        * В медиазапросах установим относительную ширину столбцов
        * и настроим размер шрифта в единицах vw.
        * В дочерних элементах будем использовать em
        */
        @include respond-to(xs) {
          width: 1 / $col_xs_number * 100%;
          font-size: $base_font_size / $col_xs_number * 1vw;
          line-height: $base_font_size / $col_xs_number * 1vw;
        }
        @include respond-to(sm) {
          width: 1 / $col_sm_number * 100%;
          font-size: $base_font_size / $col_sm_number * 1vw;
          line-height: $base_font_size / $col_sm_number * 1vw;
        }
        @include respond-to(md) {
          width: 1 / $col_md_number * 100%;
          font-size: $base_font_size / $col_md_number * 1vw;
          line-height: $base_font_size / $col_md_number * 1vw;
        }
        @include respond-to(lg) {
          width: 1 / $col_lg_number * 100%;
          font-size: $base_font_size / $col_lg_number * 1vw;
          line-height: $base_font_size / $col_lg_number * 1vw;
        }
        @include respond-to(xl) {
          width: 1 / $col_xl_number * 100%;
          font-size: $base_font_size / $col_xl_number * 1vw;
          line-height: $base_font_size / $col_xl_number * 1vw;
        }
      }
    }
  }
}
