/*
* ==========================================================================
* Карточка товара
*/

/*
* Цветовые константы
*/
$COLOR_DEFAULT: #1698d9;
$COLOR_DEFAULT_LIGHT: #666666;
$COLOR_DEFAULT_HOVER: #2ea8e6;
$COLOR_SELECTED: #d91667;
$COLOR_SELECTED_HOVER: #e62e7a;
$COLOR_DISABLED: #b3b3b3;
$COLOR_DISABLED_COMMENTS: #ffff66;

/*
* Будем использовать относительные размеры блока и его содержимого,
* контент адаптируется и гармонично выглядит в диапазоне ширин каждого
* из типов экранов (xl, lg, md, sm, xs) в отличие от фиксированных размеров,
* при которых изменяются лишь поля
*/

/*
* Aspect блока .top-container - 2:3
* Блок сохранит свои пропорции при различных размерах
*/
$item_aspect_ratio: 0.6666666666666666;

/* Для вырианта 1, см. ниже */
$item_border_half_width_percent: 0.6;
/* Для вырианта 2, см. ниже */
$item_border_width_percent: 2 * $item_border_half_width_percent;

.item {
  margin: 8%;

  .top-container {
    /* Сохраним пропорции элемента */
    padding-top: 1 / $item_aspect_ratio * 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    /*
    * 1. Вариант с двумя svg-фонами -
    * светлый фон и рамка (.inner-frame), накладываемая поверх .inner-image (картинки),
    * коректно её обрезая
    * 2. Можно не использовать рамку .inner-frame, но в данном примере (скругленные углы) могут
    * возникнуть мелкие артефакты, связанные с переводом относительных единиц
    * и их округлением. Для этого варианта можно использовать фон cart_background_and_frame.svg
    * (фон уже с рамкой),
    * убрать .inner-frame и подвинуть .inner-image вправо и вверх на толщину рамки
    * (соответственно уменшив ширину),
    * для чего использовать $item_border_width_percent вместо $item_border_half_width_percent
    * TODO - посмотреть производительность и расход памяти и принять решение по двум вариантам
    *
    * Есть еще варианты - например два вложенных прямоугольника с clip-path,
    * для данной конкретной задачи подойдет, но есть тонкости для IE и Safari
    */
    background: url("images/card_background.svg") no-repeat;
    background-size: cover;

    /*
    * В первом варианте можно не заморачиваться с $item_half_border_width_percent,
    * все накроется рамкой.
    * Но для второго варианта (фон с рамкой и картинка поверх)
    * нужно использовать $item_border_width_percent, т.к. картинка не должна
    * ни "залезть" на границу, ни оставить пропусков светлого фона
    */
    .inner-image {
      position: absolute;
      width: (100 - $item_border_half_width_percent * 2) * 1%;
      height: auto;
      left: $item_border_half_width_percent * 1%;
      bottom: $item_border_half_width_percent * $item_aspect_ratio * 1%;
      border-radius:5%;
    }

    .inner-frame {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      /*
      * Можно сделать через маску, задавать цвет из констант $COLOR_<...>,
      * тогда нужны картинки разных цветов...
      * Но не для ie. Осталяем картинки рамок с нужными цветами
      *
      * background-color: $COLOR_DEFAULT;
      * mask-image: url("images/card_frame_mask.svg");
      * -webkit-mask-image: url("images/card_frame_mask.svg");
      * mask-size: cover;
      * -webkit-mask-size: cover;
      */
      background: url("images/card_frame.svg") no-repeat;
      background-size: cover;
    }

    .inner-text {
      position: absolute;
      top: 3%;
      left: 15%;
      /* Лучше пусть длинная строка "торчит" вправо, чем перенесется на новую строку */
      width: 85%;

      .brand {
        font-size: 1.35em;
        line-height: 2.2em;
        color: $COLOR_DEFAULT_LIGHT;
      }
      .title {
        font-size: 3.4em;
        line-height: 1.2em;
        font-weight: bold;
      }
      .sub_title {
        font-size: 2em;
        line-height: 1.1em;
        font-weight: bold;
      }
      .description {
        font-size: 1.1em;
        line-height: 1.2em;
        margin-top: 5%;
        color: $COLOR_DEFAULT_LIGHT;
      }
    }
    .weight {
      position: absolute;
      right: 5%;
      bottom: 5% * $item_aspect_ratio;
      width: 20%;
      height: 20% * $item_aspect_ratio;
      text-align: center;
      background-color: $COLOR_DEFAULT;
      border-radius: 50%;
      color: white;

      .value {
        font-size: 2.5em;
        line-height: 1.6em;
        margin-top: 4%;
      }
      .units {
        font-size: 1.4em;
        line-height: 0.1em;
        margin-top: -3%;
      }
    }
  }
  .bottom-container {
    .comments, comments a {
      text-align: center;
      font-size: 1.05em;
      line-height: 4em;
      color: white;

      a {
        text-decoration-style: dashed;
        color: $COLOR_DEFAULT;
      }
    }
  }
}

/* --------------- поведение --------------- */
/* ---------------  default  --------------- */
.item.enabled.hover {
  .weight {
    background-color: $COLOR_DEFAULT_HOVER;
  }
  .comments a {
    color: $COLOR_DEFAULT_HOVER;
  }
  .inner-frame {
    background: url("images/card_frame_h.svg") no-repeat;
    background-size: cover;
  }
}
/* --------------- selected --------------- */
.item.selected {
  .weight {
    background-color: $COLOR_SELECTED;
  }
  .comments a {
    color: $COLOR_SELECTED;
  }
  .inner-frame {
    background: url("images/card_frame_s.svg") no-repeat;
    background-size: cover;
  }
}
.item.selected.hover {
  .brand {
    color: $COLOR_SELECTED_HOVER;
  }
  .weight {
    background-color: $COLOR_SELECTED_HOVER;
  }
  .comments a {
    color: $COLOR_SELECTED_HOVER;
  }
  .inner-frame {
    background: url("images/card_frame_s.svg") no-repeat;
    background-size: cover;
  }
}
/* --------------- disabled --------------- */
.item.disabled {
  .top-container {
    cursor: default;
  }

  .inner-text {
    color: $COLOR_DISABLED;
    .brand, .description {
      color: $COLOR_DISABLED;
    }
  }
  .inner-image {
    opacity: 0.5;
  }

  .weight {
    background-color: $COLOR_DISABLED;
  }
  .comments, .comments a {
    color: $COLOR_DISABLED_COMMENTS;
  }
  .inner-frame {
    background: url("images/card_frame_d.svg") no-repeat;
    background-size: cover;
  }
}
