h1.title {
  font-family: "Exo2.0-Thin", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin-top: 3%;
  /*
  * Если хочется чтобы текст масштабировался с окном
  * font-size: 2.5vw;
  */
  font-size: 2em;
}

